.container{
  margin: 170px 0;
  width: 100%;
}

.headingContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoryCards{
  display: flex;
  width: 100%;
  justify-content: space-between;
}