@import '../../scss/mixins';
@import '../../scss/settings';


.container {
  padding: 100px 170px;
  background-color: #E9F3F8;
  border-radius: 16px;
  display: flex;
  gap: 150px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-bottom: 160px;

  form {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;

    input {
      background-color: #FFFFFF;
      padding: 0 13px;

      &::placeholder {
        color: #A9A9A9;
      }
    }

    label {
      margin-bottom: 10px;
    }
  }

  @include media-max($lg-break) {
    padding: 75px;
    justify-content: center;
  }
  @include media-max($sm-break) {
    flex-direction: column;
    gap: 10px;
  }
  @include media-max($l-break) {
    padding: 40px 30px;
  }
}

.leavesTop {
  position: absolute;
  bottom: -80px;
  left: -40px;
  width: 450px;
  height: 400px;
  z-index: 10;
  transform: rotate(-28deg);
}

.leavesBottom {
  position: absolute;
  top: -10px;
  right: -20px;
  width: 250px;
  height: 300px;
  transform: scaleX(-1) rotate(210deg);
}

.textContainer {
  display: flex;
  flex-direction: column;
  flex: 0 1 40%;

  span {
    &:nth-child(1) {
      font-family: $heading-font;
      font-size: 50px;
      line-height: 70px;
      text-transform: capitalize;
      margin-bottom: 20px;

      span {
        color: #FFC43F;
      }

      @include media-max($xs-break){
        font-size: 26px;
      }
    }

    &:nth-child(2) {
      font-size: 18px;
      color: #555555;
      line-height: 225%;

      @include media-max($sm-break) {
        display: none;
      }
    }
  }
}

.formInput {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 25px;
}

.registerBtn {
  margin-top: 20px;
  border-radius: 10px;
  padding: 16px 0;
}