@import '../../scss/mixins';
@import '../../scss/settings';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
  width: 100%;
  overflow: hidden;

  @include media-max($sm-break) {
    margin-bottom: 70px;
  }
}

.carouselContainer {
  margin-left: -15px;
  transition: $transition;
}

.productsContainer {
  padding-bottom: 60px;
  display: flex;
  overflow: hidden;
  transition: all 0.5s;

  & > * {
    flex: 0 0 260px;
    padding: 5px 15px;
  }
}

.expiresContainer {
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 90px;
  display: flex;
  align-items: center;
  background-color: #FFC43F;
  border-radius: 4px;
  font-size: 16px;
  font-family: $main-font;

  & > * {
    margin-right: 8px;
  }

  @include media-max($sm-break) {
    display: none;
  }
}