@import '../../scss/mixins';
@import '../../scss/settings';

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}

.articlesContainer{
  display: flex;
  gap: 50px;

  @include media-max($md-break){
    padding: 70px;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include media-max($xs-break){
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}