.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 170px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  & > * {
    background-color: #FCF7EB;
    border-radius: 6px;
    padding: 10px 14px;
    color: #555555;
    cursor: pointer;
  }
}