
.container{
  width: 100%;
  position: relative;
}
.leavesTop{
  position: absolute;
  top: -30px;
  left: -154px;
  width: 450px;
  height: 400px;
  z-index: 10;
}
.leavesBottom{
  position: absolute;
  bottom: -100px;
  right: -170px;
  width: 400px;
  height: 400px;
}
.cards{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 190px 0;
  z-index: 100000;
}
.chocolateCard,
.muffinsCard{
  border-radius: 12px;
  background-size: cover;
}
.chocolateCard{
  background-image: url("./bannersImg/bgChocolate.png");
  background-color: #FFEADA;
  margin-right: 50px;

  img{
    width: 450px;
    margin-left: -70px;
    margin-top: -70px;
  }
}
.muffinsCard{
  background-image: url("./bannersImg/bgmuff.svg");
  background-color: #E1F7F9;

  img{
    width: 700px;
    margin-left: -250px;
    margin-top: -30%;
  }
}