@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  width: 100%;
  margin-bottom: 110px;
  overflow: hidden;

  @include media-max($xs-break) {
    margin-bottom: 60px;
  }
}

.carouselContainer {
  margin-left: -10px;
}

.brandCards {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  transition: $transition;
}