@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  width: 100%;
  margin-bottom: 100px;
  overflow: hidden;
}

.carouselContainer {
  margin-left: -9px;
}

.categoryCards {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  transition: $transition;

  @include media-max($sm-break) {
    padding: 30px 0;
  }
}
