@import "../../scss/settings";
@import "../../scss/mixins";

.container {
  width: 100%;
  background-image: url("./appImg/bgApp.svg");
  background-color: #FFF9EB;
  border-radius: 46px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 547px;
  align-items: center;
  justify-content: center;
  margin-bottom: 160px;
}

.phone {
  top: -10%;
  left: 15%;
  position: absolute;

  @include media-max($lg-break) {
    display: none;
  }
}

.textContainer {
  max-width: 40%;
  margin-left: auto;
  margin-right: 250px;

  & > * {
    margin-bottom: 25px;
  }

  span {
    color: #555555;
    line-height: 225%;
  }

  @include media-max($lg-break) {
    max-width: 80%;
    margin: 0;
  }
  @include media-max($l-break) {
    padding: 40px 30px;
  }
}

.downloadLinks {
  display: flex;
  margin-top: 50px;

  & > * {
    margin-right: 14px;
    cursor: pointer;
  }
}