.container{
  width: 100%;
  margin: 170px 0;
  background-image: url("./appImg/bgApp.svg");
  background-color: #FFF9EB;
  border-radius: 46px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 547px;
  align-items: center;
  justify-content: center;
}

.phone{
  top: -10%;
  left: 15%;
  position: absolute;
}
.textContainer{
  max-width: 40%;
  //flex: 0 1 300px;
  margin-left: auto;
  margin-right: 250px;

  &>*{
    margin-bottom: 25px;
  }
  span{
    color: #555555;
    line-height: 225%;
  }
}

.downloadLinks{
  display: flex;
  margin-top: 50px;

  &>*{
   margin-right: 14px;
  }
}