@import '../../scss/mixins';
@import '../../scss/settings';

.container{
  position:relative;
  display: flex;
  flex-direction: column;
}

.select{
  display: flex;
  align-items: center;
  position: relative;

  input{
    cursor: pointer;
    width: 90%;
    &::placeholder{
      color: #222222;
      text-transform: capitalize;
    }
  }
  button{
    margin-right: 15px;
  }
}
.backdown{
  z-index: 1000;
  background-color:#F8F8F8;
  max-height: 200px;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transform: translateY(0);
  transition: $transition;

  button{
    padding: 10px 20px 10px 10px;
    text-transform: capitalize;
  }

  &.close{
    transform: translateY(-150%);
    display: none;
  }
}

.backdrop {
  z-index: 50;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}