@import "../../scss/settings";
@import "../../scss/mixins";

header{
  position: relative;
  @include media-max($sm-break) {
    padding: 10px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  border-bottom: 1px solid #F6F6F6;

  @include media-max($sm-break) {
    align-items: flex-start;
  }
}
.firstHeaderContainer{
  flex: 0 1 65%;
  display: flex;
  gap: 60px;


  @include media-max($sm-break) {
    flex: 0 1 95%;
    flex-direction: column;
    gap: 0;
    a{
      margin-bottom: 20px;
    }
  }
}

.secondHeaderContainer{
  display: flex;
  gap: 70px;
}

.searchContainer{
  width: 100%;
  display: flex;
  background-color: #F8F8F8;
  border: 1px solid #F8F8F8;
  border-radius: 4px;
  padding: 12px 15px;
  max-width: 650px;
  flex: 0 1 50%;
}

.selectContainer{
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-right: 25px;

  select{
    padding: 0 25px 0 10px;
  }
}

.arrow{
  display: block;
  position: absolute;
  top: 50%;
  right: 3px;
  pointer-events: none;
}
.searchInput{
  display: flex;
  align-items: center;
  width: 100%;

  input{
    display: inline-block;
    width: 100%;
    caret-color: #DEDEDE;
    margin-right: 5px;
    &::placeholder{
      padding: 0 20px;
    }
  }
}

.supportContainer,
.cartContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.supportContainer{
  @include media-max($lg-break) {
    display: none;
  }
}
.cartContainer{
  align-items: flex-start;
}

.captionText{
  font-size: 12px;
  color: #898989;
  text-transform: capitalize;
}
.captionNumber{
 font-size: 18px;
}

.phone{
  align-items: flex-end;
  display: none;

  @include media-max($lg-break){
    display: flex;
    margin-right: -50px;
  }
}
.userContainer{
  display: flex;
  align-items: flex-end;
  gap: 30px;


  @include media-max($sm-break) {
    &>*{
     &:not(:first-child){
       display: none;
     }
   }
  }
}


nav{
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.firstNavContainer{
  display: flex;
  align-items: center;
  gap: 147px;
}

.selectContainer{
  position: relative;

  select{
    padding-right: 16px;
    text-transform: capitalize;
  }
}

.arrow{
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  pointer-events: none;
}

.navigation {
  display: flex;
  margin-right: auto;
  transition: all 0.8s;

  @include media-max($lg-break) {
    display: none;
  }
}

.link,
.link:link,
.link:visited {
  padding: 10px 25px;
  border-radius: 6px;

  &:global{
    &.active {
      background-color: #FFC43F;
    }
  }
}
.presentContainer{
  display: flex;
  align-items: center;

  span{
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
  }
  @include media-max($lg-break){
    margin-right: 80px;
  }
  @include media-max($md-break){
    display: none;
  }
}
.secondNavContainer{
  display: flex;
}

