@import '../../scss/mixins';
@import '../../scss/settings';

.background{
  background: url("./billboardSvg/bg.png") repeat;
  background-size: cover;
  margin-bottom: 160px;

  @include media-max($sm-break){
    margin-bottom: 60px;
  }
  @include media-max($l-break){
    background: transparent;
  }
}

.container{
  width: 100%;
  padding: 107px 0;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include media-max($lg-break){
   flex-direction: column;
    gap: 30px;
  }

  @include media-max($md-break){
  padding: 60px 0;
  }
  @include media-max($l-break){
  padding: 10px 0;
  }
}

.carouselContainer{
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  flex: 1 1 70%;
  margin-right: 30px;

  @include media-max($lg-break){
    margin-right: 0;
  }
}
.cardsSlider{
  display: flex;
  transition: $transition;
}

.dots{
  display: flex;
  position: absolute;
  top: 90%;
  left: 45%;

  button{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-right: 10px;

    @include media-max($l-break){
      height: 10px;
      width: 10px;
    }
    &:focus{
      background-color: #FFC43F;
    }
  }
}

.secondCardsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  flex: 0 1 40%;

  @include media-max($lg-break){
    flex-direction: row;
    width: 100%;
  }
  @include media-max($sm-break){
   display: none;
  }
}
.fruitsCard,
.bakeCard{
  display: flex;
  border-radius: 12px;
  flex: 1;
}
.fruitsCard{
  background: #EEF5E4;
}
.bakeCard{
  background: #F9EBE7;
}
.secondCardsImageContainer{
  flex: 0 1 320px;
  height: 100%;
}
.fruitsImage{
  background: url("./billboardSvg/fruits.png") no-repeat right bottom;
  background-size:  350px 250px;
  height: 100%;
}
.bakeryImage{
  background: url("./billboardSvg/bakery.png") no-repeat right bottom;
  background-size:  350px 250px;
  height: 100%;
}
