@import '../../scss/mixins';
@import '../../scss/settings';

.background{
  background: url("./billboardSvg/bg.png") repeat;
  background-size: cover;
  margin-bottom: 160px;
}

.container{
  width: 100%;
  padding: 107px 0;
  display: flex;
  justify-content: center;

  @include media-max($lgt-break){
   flex-direction: column;
    gap: 30px;
  }
}

.firstCardContainer{
  background: #E6F3FA url("billboardSvg/bottle.png") no-repeat right bottom;
  background-size: contain;
  display: flex;
  border-radius: 12px;
  margin-right: 30px;
  flex: 0 1 60%;

  @include media-max($lgt-break){
    margin-right: 0;
  }
}
.shopNowCard{
  display: flex;
  flex-direction: column;
  padding: 110px 30px 40px 110px;

  @include media-max($lgt-break){
    flex-direction: column;
    gap: 30px;
  }
}


.dots{
  margin-top: 70px;
  position: relative;
  display: flex;
  align-self: flex-end ;
  width: 100px;

  span{
    position: relative;
    background-color: #FFFFFF;
    height: 16px;
    width: 16px;
    border-radius: 50%;

    &:before,
    &:after{
      content: '';
      position: absolute;
      background-color: #FFFFFF;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
    &:before{
      transform: translateX(24px);
    }
    &:after{
      transform: translateX(48px);
    }
    &:hover{
      background-color: #FFC43F;
    }
  }
}


.text{
  font-family: $caption-font;
  color: #ED8939;
  margin-bottom: 35px;
  font-size: 27px;
  text-transform: capitalize;
}
.title{
  font-family: $heading-font;
  font-size: 54px;
  line-height: 68px;
  margin-bottom: 25px;
  text-shadow: 2px 1px 1px white;
}

.afterTitleText{
  color: #727272;
  font-size: 18px;
  margin-bottom:60px;
  text-transform: capitalize;
  text-shadow: 2px 1px 1px white;
}

.shopBtn{
  align-self: flex-start;
  font-family: inherit;
  border: 1px solid #222222;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 17px 42px;
  color: inherit;
  transition: all 0.5s;

  &:hover{
    background-color: #FFC43F;
  }
}

.secondCardsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  flex: 0 1 40%;

  @include media-max($lgt-break){
    flex-direction: row;
    width: 100%;
  }
}
.fruitsCard,
.bakeCard{
  max-width: 597px;;
  display: flex;
  border-radius: 12px;
  padding: 55px;
  flex: 1;
}
.fruitsCard{
  background: #EEF5E4 url("./billboardSvg/fruits.png") no-repeat right bottom;
  background-size: contain;
}
.bakeCard{
  background: #F9EBE7 url("./billboardSvg/bakery.png") no-repeat right bottom;
  background-size: contain;
}

