@import "../../scss/settings";
@import "../../scss/mixins";

nav{
  height: 86px;
}

.container{
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.firstNavContainer{
  display: flex;
  align-items: center;
  gap: 147px;
}

.selectContainer{
  position: relative;

  select{
    padding-right: 16px;
    text-transform: capitalize;
  }
}

.arrow{
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  pointer-events: none;
}

.navigation {
  display: flex;
  margin-right: auto;
  transition: all 0.8s;

  @include media-max($lgt-break){
    position: absolute;
    top: 130px;
    right: 0;
    width: 250px;
    background-color: #F6F6F6;
    flex-direction: column;
    height: calc(100vh - 130px);
    transform: translateX(150%);
    z-index: 5000;
    padding: 70px;
  }
}
.link,
.link:link,
.link:visited {
  padding: 10px 25px;
  border-radius: 6px;

  &:global{
    &.active {
      background-color: #FFC43F;
    }
  }

  @include media-max($lgt-break){
   font-size: 25px;
  }
}
.presentContainer{
  display: flex;
  align-items: center;

  span{
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 10px;
  }
}
.secondNavContainer{
  display: flex;
}

.menu{
  width: 90px;
  position: relative;
  top: -5px;
  display: none;

  @include media-max($lgt-break){
    display: block;
  }
}

.menuOpen,
.menuClose {
  height: 2px;
  width: 25px;
  background-color: #222222;
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: none;
  z-index: 5000;
  transition: all .5s;

}
.menuOpen{
  &:before,
  &:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #222222;
  }

  &:before{
    transform: translateY(-0.5rem);
  }
  &:after{
    transform: translateY(0.5rem);
  }

  @include media-max($lgt-break){
    display: block;
  }
}
.menuClose{
  transform: rotate(45deg);

  &:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #222222;
  }

  &:before{
    transform: rotate(90deg);
  }
}


nav:target .menuOpen{
  display: none;
}
nav:target .menuClose{
  display: block;
}

nav:target .navigation{
  transform: translateX(0);
}
