.container{
  display: flex;
  flex-direction: column;
}
.productsNav{
  height: 75px;
  width: 100%;
  border-bottom: 2px solid #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link,
.link:link,
.link:visited {
  color: #666666;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  animation: all 0.5s;
  padding-bottom: 26px;

  &:global{
    &.active {
      color: #222222;
      border-bottom: 3px solid #FFC43F;
    }
  }
}

.productsContainer{
  width: 100%;
  margin-top: 60px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}