footer {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  border-top: 1px solid #F8F8F8;
  display: flex;
  padding-top: 90px;
  border-bottom: 1px solid #F8F8F8;
  justify-content: space-between;
  padding-bottom: 60px;
  position: relative;

  & > * {
    display: flex;
    flex-direction: column;
  }

  span {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 13px;
  }
}
.leaves{
  position: absolute;
  top: 0;
  transform: scaleX(-1);
  right: -180px;
  width: 300px;
  height: 300px;
}

.iconsContainer {
  margin-top: 15px;
}

.social {
  display: flex;
  margin-top: 55px;
}

.iconContainer {
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EFEFEF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  margin-right: 14px;
  transition: all 0.5s;


  & > * {
    fill: #A5A5A5;
    transition: all 0.5s;
  }

  &:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);

    & > * {
      fill: #201F1F;
    }
  }
}

.link,
.link:link,
.link:visited {
  color: #747474;
  line-height: 214%;
  text-transform: capitalize;
}

.subscribeContainer {
  height: 52px;
  color: #747474;
  line-height: 214%;

  input {
    margin-top: 39px;
    background-color: #F4F4F4;
    height: 100%;
    width: 250px;
    padding: 0 17px;
  }
}

.sendBtn {
  height: 100%;
  padding: 0 20px;

  & > * {
    margin-left: 6px;
  }
}

.copyrightContainer {
  display: flex;
  justify-content: space-between;
  margin: 43px 0 50px 0;
  color: #747474;

  span {
    font-weight: 700;
  }
}