@import '../scss/mixins';
@import '../scss/settings';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: $main-font;
  font-size: 16px;
  color: #222222;
  background-color: #FFFFFF;
}

button {
  @include btn-reset();
  font-family: inherit;
  font-size: inherit;
  text-transform: capitalize;
  color: inherit;
}
.buttons{
  display: flex;
}

.btnText{
  display: inline-block;
  font-weight: 600;
  color: #787878;
  margin-right: 8px;
}
.arrowBtn{
  background-color: #F1F1F1;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  padding: 6px 14px;
  margin-left: 13px;
  transition: all 0.5s;


  &:first-child{
    margin-left: 47px;
  }
  &:hover{
    background-color: #FFC43F;
  }
}

.blackBtn{
  background-color: #222222;
  color: #FFFFFF;
  text-transform: uppercase;
}

a,
a:link,
a:visited {
  text-decoration: none;
  //padding: 10px 25px;
  transition: all .5s;
  //border-radius: 6px;
  color: inherit;
}
//
//a.active {
//  background-color: #FFC43F;
//}

select,
input {
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.mainContainer {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 154px;
  display: flex;
}

.wrapper {
  flex: 1 0 auto;
}

.heading{
  font-family: $heading-font;
  font-size: 36px;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.headingContainer{
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}