@import "../../scss/settings";
@import "../../scss/mixins";

.container{
  width: 100%;
  position: relative;
}
.leavesTop{
  position: absolute;
  top: -30px;
  left: -154px;
  width: 450px;
  height: 400px;
  z-index: 10;
}
.leavesBottom{
  position: absolute;
  bottom: -100px;
  right: -170px;
  width: 400px;
  height: 400px;
}
.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 190px 0;
  gap: 50px;

  @include media-max($lgt-break){
    flex-direction: column;
    align-items: normal;
    padding: 190px;
  }
  @include media-max($lg-break){
    flex-direction: column;
    align-items: normal;
    padding: 190px 100px;
  }
}
.chocolateCard,
.muffinsCard{
  flex: 0 1 50%;
  border-radius: 12px;

  @include media-max($lgt-break){
    flex: 1 0 100%;
  }
}
.chocolateCard{
  background: #FFEADA url("bannersImg/bgChocolate.png") right center;
  background-size: cover;

}

.firstBackgroundImage{
  background: url("bannersImg/chocolate.png") no-repeat right bottom;
  background-size: contain;
}

.muffinsCard{
  background: #E1F7F9 url("bannersImg/bgmuff.svg");
}

.secondBackgroundImage{
  background: url("bannersImg/muff.png") no-repeat right center;
  background-size: contain;
}
