.container{
  width: 100%;
  position: relative;
}
.leavesTop{
  position: absolute;
  top: -30px;
  left: -154px;
  width: 450px;
  height: 400px;
  z-index: 10;
}
.leavesBottom{
  position: absolute;
  bottom: -100px;
  right: -170px;
  width: 400px;
  height: 400px;
}
.cards{
  display: flex;
  justify-content: space-between;
  padding: 190px 0;
  gap: 50px;
}
.chocolateCard,
.muffinsCard{
  max-width: 784px;
  width: 100%;
  border-radius: 12px;
}
.chocolateCard{
  background: #FFEADA url("bannersImg/bgChocolate.png");
  background-size: cover;
}

.firstBackgroundImage{
  background: url("bannersImg/chocolate.png") no-repeat 340px;
  background-size: contain;
}

.muffinsCard{
  background: #E1F7F9 url("bannersImg/bgmuff.svg");
}

.secondBackgroundImage{
  background: url("bannersImg/muff.png") no-repeat 200px -40px;
  background-size: contain;
}
