@import "../../scss/settings";
@import "../../scss/mixins";

.container{
  width: 100%;
  position: relative;
}
.leavesTop{
  position: absolute;
  top: -30px;
  left: -154px;
  width: 450px;
  height: 400px;
}
.leavesBottom{
  position: absolute;
  bottom: -100px;
  right: -170px;
  width: 400px;
  height: 400px;
  z-index: -1;
}
.cards{
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 190px 0;
  gap: 50px;

  @include media-max($md-break){
    flex-direction: column;
    padding: 190px 80px;
  }
  @include media-max($sm-break) {
    flex-direction: column;
    padding: 130px 0;
  }
}
.chocolateCard,
.muffinsCard{
  display: flex;
  flex: 0 1 50%;
  border-radius: 12px;
  padding: 50px 10px 50px 40px;
  align-items: center;
  align-self: stretch;
}
.chocolateCard{
  background: #FFEADA url("bannersImg/bgChocolate.png");
  background-size: cover;
}
.muffinsCard{
  background: #E1F7F9 url("bannersImg/bgmuff.svg");
}

.imageContainer{
  flex: 0 1 400px;
  height: 300px;
}
.firstBackgroundImage{
  background: url("bannersImg/chocolate.png") no-repeat left center;
  background-size: 350px 300px;
  height: 100%;
}

.secondBackgroundImage{
  background: url("bannersImg/muff.png") no-repeat left center;
  background-size: 350px 300px;
  height: 100%;
}
